body {
    background-color: teal;
}

.header {
    position: relative;
    display: flex;
}

.wrapper {
    border-radius: 50px/50px;
    height: 90vh;
    width: 90vw;
    max-width: 1400px;
    margin: 2.5rem auto;
    background: white;
    position: relative;
}
button{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    padding: .5rem 5rem;
    margin-top: 2rem;
    border: 0;
    border-radius: 3rem;
    cursor: pointer;
    background-color: black;
    color: #ffde59;
    box-shadow: 3px 5px rgb(71, 72, 72);
}