body {
    background-color: #41a4ab;
}

.header {
    position: relative;
    display: flex;


}

img {
    width: 130px;
    margin-left: 5rem;
}

h1 {
    padding-left: 22vh;
    margin-top: 0.5rem;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 3px 2px rgb(191, 234, 242);
    font-size: 4rem;
}

.choose p {
    text-align: center;
    font-family: 'Niramit', sans-serif;
    font-size: 25px;
    margin: 0.20rem;
    line-height: 35px;
    color: #ffde59;
    padding-bottom: 1rem;
}

.grid {
    display: grid;
    width: 100rem;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    background-color: #fff;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgb(0, 0, 0, 0.1);
    transition: 0.2s;
}

.grid-item:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgb(0, 0, 0, 0.5);
}

.card-img1{
    display: block;
    width: 70%;
    height: 22rem;
    justify-items: left;
    padding-left: 0.5rem;
}
.card-img2{
    display: block;
    width: 60%;
    height: 22rem;
    justify-items: center;
    padding-left: 4rem;
}
.card-img3{
    display: block;
    width: 60%;
    height: 22rem;
    justify-items: center;
    padding-left: 6rem;
}
.card-content{
    padding: 3rem;
    align-items: center;
}
.card{
    font-size: 2.5rem;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 1.5rem;
}
.card-text{
    font-size: 2rem;
    line-height: 1.7;
    margin-bottom: 2.5rem;
    text-align: center;
}
.card-btn{
    display: block;
    width: 70%;
    font-size: 2rem;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    color: black;
    cursor: pointer;
    border-radius: 5rem;
    border: 0;
    padding: .5rem 6rem;
    background-color: #c1aeea;
    margin: auto;
}



