body {
    background-color: #2385c4;
}

.header {
    position: relative;
    display: flex;
}

.wrapper {
    border-radius: 50px/50px;
    height: 90vh;
    width: 90vw;
    max-width: 1400px;
    margin: 2.5rem auto;
    background: white;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Niramit', sans-serif;
    font-size: 3rem;
    text-align: center;
    
}

.number{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 2rem;
    color: #5e17eb;
    text-shadow: 3px 2px rgb(78, 80, 80);
    line-height: 0;
    
}

input{
    text-align: center;
    margin-left: 28rem;
    margin-bottom: 3rem;
    line-height: 2;
    border-radius:3rem;
    border: 1px solid #828cce;
    background-color: #bcbefa;
    width: 30rem;
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
    font-size: 30px;
}

button{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    padding: .5rem 4rem;
    margin-left: 39.5rem;
    border: 0;
    border-radius: 3rem;
    cursor: pointer;
    background-color: black;
    color: #ffde59;
    box-shadow: 3px 5px rgb(71, 72, 72);
}
.card{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
}


button[type=button]{
    padding: .5rem 5rem;
    margin-left: 32.5rem;
    color: black;
    background-color: tomato;
}

.card .btn{
    background-color: #2385c4;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1rem 4rem;
    
}

