body {
    margin: 0;
    background-image: url(bg.jpg);

}

.wrapper {
    border-radius: 50px/50px;
    height: 90vh;
    width: 80vw;
    max-width: 1200px;
    margin: 2.5rem auto;
    background: white;
    box-shadow: 1px 3px 20px;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    height: 100%;
}

.container .title {
    width: 90%;
    height: 20%;
    text-align: center;
    padding: 0 5rem;
    padding-bottom: 0;
    margin: 0rem;
}

.container h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 5rem;
    margin: 2rem;
    text-shadow: 3px 2px rgb(129, 225, 242);
    line-height: 90px;
}

.container p {
    font-family: 'Niramit', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 1rem;
    line-height: 35px;
}
button{
    font-family: 'Chonburi', cursive;
    font-size: 30px;
    padding: .5rem 6rem;
    margin: 0.1rem;
    border: 0;
    border-radius: 3rem;
    cursor: pointer;
    background-color: black;
    color: #ffde59;
    box-shadow: 3px 5px rgb(71, 72, 72);
}

