body {
    background-color: #ffbd59;
}

.header {
    position: relative;
    display: flex;
}

.wrapper {
    border-radius: 50px/50px;
    height: 90vh;
    width: 90vw;
    max-width: 1400px;
    margin: 2.5rem auto;
    background: white;
    position: relative;
}

h2 {
    font-family: 'Niramit', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
}

img{
        width: 400px;
        justify-items: center;
        padding-left: 30rem;
}
input{
    text-align: center;
    margin-left: 28rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    line-height: 2;
    border-radius:3rem;
    border: 1px solid #828cce;
    background-color: #bcbefa;
    width: 30rem;
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
    font-size: 30px;
}

button{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    padding: .5rem 2rem;
    margin-left: 39.5rem;
    border: 0;
    border-radius: 3rem;
    cursor: pointer;
    background-color: black;
    color: #ffde59;
    box-shadow: 3px 5px rgb(71, 72, 72);
}
button[type=button]{
    padding: .5rem 5rem;
    margin-left: 32.5rem;
    color: black;
    background-color: tomato;
}